* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
}
/*styles pour la première section*/
.header {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;  
    z-index: 1;
}
.navigation {
    height: 4.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d92950;
    position: fixed;
    z-index: 1;
}
.navigation .logo {
    width: 25%;
    height: 90%;
    margin-left: 18px;
} 
.logo img {
    width: 23%;
    height: 100%;
}
.navigation .menu {
   width: 35%;   
   height: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;   
}
.menu ul {
    height: 80%;
    display: flex;
    align-items: center;
    margin-right: 10px;    
}
.menu li {
    display: inline;
    padding: 25px;
}
@font-face {
    font-family: "Roboto-regular";
    src: url("./fonts/roboto/Roboto-Regular.ttf");
}
.menu a {
    text-decoration: none;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #ffffff;   
    padding-bottom:15px; 
}
.menu a.active::after {
    content: '';    
    width: 100%;
    display: block;
    height: 2px;
    bottom: -2px;
    background-color: #e8566a;
}

.menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    bottom: -2px;
    background-color: #e8566a;
}
.menu a:hover::after{
    width: 100%;
    transition: width .3s;
    
}

footer {
    height: 44rem;
    background-color: #2d2d2d; 
    display: flex;   
    justify-content: center; 
    align-items: center;
    font-family: 'Roboto-regular', sans-serif;
    color: #ffffff;
    font-size: 26px;
    line-height: 33.6px;
}
footer > * {
    width: 35%;
    height: 55%;
    padding: 20px;
}
footer address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;     
}
address p, .newsletter p{
    color: #e3e3e3;
}
address strong, .newsletter strong {
    color: white;
    font-weight: bolder;
}
footer li{
    text-decoration: none;
    padding: 10px;
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 26%;
}
.social-links a{
    font-size: 35px;
}
footer a {
    color: #D92950;
    font-size: 24.4px;
    text-decoration: none;
    position: relative;
    padding: 3px 0;
}

  #form:hover::after, #form-link:hover::after {
      width: 100%;
  }
footer a::after{
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    bottom: 0;
    background-color: #D92950;
    transition: width 500ms ease;
}
footer a:hover::after {
    width: 100%;
}
footer .newsletter {
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
}

.newsletter form {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter input {
    width: 68%;
    height: 60px;
    background-color: #ffffff;
    padding: 0 20px;
    font-size: 18px;
    margin-left: -5px;
}

.newsletter button {
    height: 60px;  
    background-color: #D92950;
    border-radius: 0 15px 15px 0;
    border: 2px solid #D92950;
    padding: 0 25px;
    color: #ffffff;
    line-height: 24px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.newsletter button:hover {
    background-color: inherit;
    border: 2px solid #2d2d2d;
    color: #331818;
}
@font-face {
    font-family: "Montserrat-bold";
    src: url("./fonts/montserrat/Montserrat-ExtraBold.ttf");
}
.newsletter a{
    color: #ffffff;
    font-family: "Montserrat-bold", sans-serif;
    font-size: 17px;
    
}



/*Pour le banner*/
.banner{
    background-image: url("ressources/hero-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
} 
.banner .banner-text {
    width: 50%;
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
       
}
.banner-text #qualified {
    color: #fef13a;
    
}
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("./fonts/montserrat/Montserrat-Black.ttf");

}
.banner-text h1{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 101px;
    line-height: 122.3px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    color: #ffffff;
    margin-top: 40px;
}
.banner .banner-button {
    width: 50%;
    height: 20%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.banner-button .bouton {
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-button div {
    height: 80%;
    width: 48%;
}

.bouton button {
    margin: auto;
    border-radius: 15px;
    background-color: #ffffff !important;
    width: 100%;
    height: 84%;
    color: #d92950;
    text-transform:uppercase;
    font-family: 'Roboto-regular', sans-serif;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid #ffffff;
}
.bouton button:hover, 
.bouton button:active,
.bouton button:focus {
    background-color: transparent !important;
    color: #ffffff;
    border-radius: 15px;
    border: 2px solid white;
}
@font-face {
    font-family: "Montserrat-regular";
    src: url("./fonts/montserrat/Montserrat-Regular.ttf");
}
.banner-button p {
    text-align: center;
    padding: auto;
    margin: auto;
    width: 80%;
    font-family: 'Montserrat-regular', sans-serif;
    line-height: 24px;
    font-size: 16px;
}

.banner .banner-tech {
    width: 72%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;   
    
}
.image-technologies {
    width: 7% !important;
    height: 60% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
 }
.image-technologies .iconify {
    color: #ffffff;
    opacity: 0.5;
    width: 3em;
    height: 3em;
}