.accompagnement {
    height: 45rem;
    background-color: #f1eff3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accompagnement .global-bloc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;
 }
.accompagnement h1 {
    font-family: 'Montserrat-boldd', sans-serif;
    color: #3d1a46;
    font-size: 43px;   
}
.card {
    height: 60%;
    width: 70%;
    display: flex;
    justify-content: space-between;
   
}
.card div {
    height: 94%;
    width: 49%;
    background-color: #ffffff;
    border-top: 15px solid #d92950;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
}
.card .first-card {
    border-top: 15px solid #f9ff00;
}
.card h3 {
    font-family: 'Montserrat-boldd', sans-serif;
    font-size: 28px;
    color: #d92950;
    text-align: center;
    margin-top: 25px;
}
.card p {
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #4d4e51;
    text-align: center;
    margin:  20px 45px 20px 45px;
}
.card button {
    margin: auto;
    border-radius: 15px;
    padding: 5px 30px;
    height: 24.7%;
    color: #ffffff;
    background-color: #d92950;
    text-transform:uppercase;
    font-family: 'Roboto-bold', sans-serif;
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid white;
}
.card button:hover {
    color: #d92950;
    background-color:#ffffff ;
    border: 2px solid #d92950;
}
