.emploi {
    height: 90vh;  
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f1eff3;
}
.emploi .first-bloc, .emploi .second-bloc{
    width: 40%;
    height: 80%;
   
   
}
.first-bloc .bloc {
    height: 80%;
    width: 85%;
    display: flex;
    justify-content: space-between;    
    flex-direction: column; 
    margin: auto;
}
.first-bloc h1{
    font-family: 'Montserrat-ac', sans-serif;
    color: #424345;
    font-size: 40px;  
    line-height: 48px;
}
.first-bloc p {
    font-family: 'Montserrat', sans-serif;
    color: #424345;
    font-size: 16px;  
    line-height: 24px;
    margin-left: 2px !important;
}
.first-bloc #emploi {
    color: #d92950;
}
.first-bloc img{
    max-width: 100%;
}
.second-bloc {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.second-bloc .bloc-child {
    width: 45.5%;
    height: 45.5%;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 1.2%;
}
.bloc-child img {
    height: 90px;
    margin-bottom: 20px;
}
.bloc-child h3{
    font-family: 'Montserrat', sans-serif;
    color: #424345;
    font-size: 24px;  
    line-height: 28.8px;
    margin-bottom: 20px;
}
.bloc-child p {
    font-family: 'Montserrat', sans-serif;
    color: #424345;
    font-size: 16px;  
    line-height: 24px;
}