.emploi {
    height: 60rem;  
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #f1eff3;
}
.emploi .first-bloc{
    width: 36%;
    height: 75%;   
}
.emploi .second-bloc{
    width: 36%;
    height: 72%;  
    padding-left: 10px; 
}
.first-bloc .bloc {
    height: 80%;
    width: 98%;
    display: flex;
    justify-content: space-between;    
    flex-direction: column; 
    
}
.first-bloc h1{
    font-family: 'Montserrat-ac', sans-serif;
    color: #424345;
    font-size: 42px;  
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
.first-bloc p {
    font-family: 'Montserrat', sans-serif;
    color: #424345;
    font-size: 18px;  
    line-height: 24px;
    margin-left: 2px !important;
    margin-top: 7%;
}
.first-bloc #emploi {
    color: #d92950;
}
.first-bloc img{
    max-width: 100%;
    margin-top: 4%;
}
.second-bloc {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.second-bloc .bloc-child {
    width: 40%;
    height: 43.5%;
    border-radius: 15px;
    background-color: #ffffff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.bloc-child img {
    width: 20%;
    margin-bottom: 20px;
}
.bloc-child h3{
    font-family: 'Montserrat-ac', sans-serif;
    color: #424345;
    font-size: 28px;  
    line-height: 28.8px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.bloc-child p {
    font-family: 'Montserrat', sans-serif;
    color: #424345;
    font-size: 18px;  
    line-height: 24px;
}