.expertise {
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.expertise h1 {
    margin-bottom: 45px;
    font-family: 'Montserrat-boldd', sans-serif;
    color: #424345;
    font-size: 42px;
}
.expertise > div {
    height: 64%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.skill .first-skill{
    height: 95%;
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}
.skill h3{
    font-family: 'Montserrat-regular', sans-serif;
    font-size: 28px; 
    color: #ffffff;
    padding: 10px;
}
.first-skill .content,.second-skill .content {
    height: 87%;
    width: 100%;
    background-color: #f1f0f3;
    border-radius: 0 0 20px 20px;
    color: #424345;
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
    line-height: 31.2px;
}
.first-skill .title{
    height: 15%;
    width: 100%;
    background-color: #D92950;
      
}
.first-skill .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
    padding-top: 3%;
  
}
.images-hardskills {
    width: 25%;
    height: 22%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#more-space{
    font-size: 0.1px;
    color: #f1f0f3;
}
.images-hardskills svg {
    width: 3em;
    height: 3em;
}
.images-hardskills img{
    max-width: 100%;
    height: 80%;
}
.skill .second-skill{
    height: 93%;
    width: 39.5%;
}
.second-skill .title {
    background-color: rgba(24,0,39,.87);
    height: 15%;
    width: 100%;
}
.title h3 {
    font-family: "Montserrat-boldd", sans-serif;
    font-size: 30px;
    margin-left: 15px;
}
.second-skill .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .methodology{
    width: 75%;
    height: 70%;
    background-color: #DFDEE1;
    border-radius: 10px;
    padding: 20px;   
    margin: auto;
}
.methodology ol {
    position: relative;
    left: 16%;
    top: 8%;   
    font-family: "Ubuntu", sans-serif;
    font-size: 22px;
}
