.media {
    height: 25rem;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@font-face {
    font-family: "Montserrat-h";
    src: url("../fonts/montserrat/Montserrat-Bold.ttf");
}
.media h1 {
    font-family: 'Montserrat-h', sans-serif;
    color: #ffffff;
    font-size: 44px;  
}
.media .images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 44%;
    height: 50%;
}
.media .images > div {
    width: 20%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}