@font-face {
    font-family: "Montserrat-partner";
    src: url("./fonts/montserrat/Montserrat-Bold.ttf");
}
/*styles pour la troisième section*/
.partenaire {
    height: 34rem;
    background-color: #d92950;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partenaire h1 {
    font-family: 'Montserrat-partner', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #ffffff;
    margin-bottom: 30px;
}
.partenaire .bloc-partners {
    width: 80%;
    overflow-x:hidden;
    scroll-padding-bottom: unset;
    overflow-inline: inherit;
    height: 30%;
   
    
}
.partner-list {
    width: 205%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;  
}
.partner-list div {
    width: 10%;
    height: 85%;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;    
    scroll-snap-type: x mandatory;
    animation: slide 20s ease-in-out 2s infinite;
}
.partner-list img {
    max-width: 100%;
    height: 48%;
    scroll-snap-align: center;
}
@keyframes slide {
    0% {
        position: relative;
        left: 0;
    }
    10% {
        position: relative;
        left: -10%;
    }
    20% {
        position: relative;
        left: -20%;
    }
    30% {
        position: relative;
        left: -30%; 
    }
    40% {
        position: relative;
        left: -40%; 
    }
    50% {
        position: relative;
        left: -50%; 
    }
    100%{
        position: relative;
        left: 0;
    }
}
