.soutien {
    height: 65rem;
    background-color: #f1eff3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.soutien h1 {
    font-family: 'Montserrat-boldd', sans-serif;
    color: #424345;
    font-size: 42px;  
    line-height: 48px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.soutien-images {
    height: 30%;
    width: 72%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.soutien-image {
    width: 23%;
    height: 95%;
}
 .soutien-mot {
    width: 23%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
}
.soutien-mot iframe {
    
    height: 90%;
}
.soutien-image img {
    width: 100%;
    border-radius: 10px;
}
.soutien-image p{
    font-family: 'Montserrat-regular', sans-serif;
    color: #424345;
    font-size: 18px;  
    margin-top: 10px;
    margin-bottom: 10px;
}
.soutien-image strong{
    font-family: "Montserrat-boldd", sans-serif;
}
.soutien-mots {
    height: 54%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}